VITE_ANTHROPIC_API_KEY=your_key_here
ANYTHING_LLM_API_KEY=your_anythingllm_api_key
ANYTHING_LLM_URL=http://localhost:3001
ANYTHING_LLM_WORKSPACE=your-workspace-slug
TODO_TXT_PATH=/Users/yourname/iCloudDrive/todo/todo.txt
CHARACTER_YAML_PATH=/Users/yourname/Development/carnival/data/character.yaml
